.profile {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    height: 90%;
}

.profile-name {
    display: flex;
    flex-direction: column;
}

.profile-blog {
    flex: 2;
}

.profile-form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.profile-form label {
    display: flex;
    justify-content: space-between;
}

.profile-form input {
    min-width: 50%;
}

.profile-form-close {
    position: absolute;
    left: 20%;
    top: 20%;
}